NODE_ENV=development

TOP_USER_DB_USER=admin
TOP_USER_DB_PASSWORD=postgres
TOP_USER_DB_NAME=tinnova_top_users

TOP_FINANCE_DB_USER=admin
TOP_FINANCE_DB_PASSWORD=postgres
TOP_FINANCE_DB_NAME=tinnova_top_finance